{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    <title>{{obj.nombre}}</title>
{% endblock title %}


{% block content %}
<span>--------------------------------------------------------------------------</span>
<h2>{{obj.nombre}} ({{obj.año}}) |⭐{{obj.puntaje}}</h2>
<h3>Genero: {{obj.genero}}</h3>
<h3>Director: {{obj.director}}</h3>
<h3>Duración: {{obj.duracion}}</h3>
<h4>Descripción:{{obj.descripcion}}</h4>
<span>--------------------------------------------------------------------------</span>
<br>
<button><a href="{% url 'core:update_movies' obj.id %}">Editar Información</a></button>
<button><a href="{% url 'core:delete_movies' obj.id %}">Eliminar Película</a></button>
{% endblock content %}